@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  /* background-image: url(/assets/background.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.7)), url(/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav-bar {
  /* background-color: tomato; */
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

#logo {
  width: 130px;
}

.btn {
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#btn_signIn {
  padding: 8px 16px;
  background-color: rgb(255, 0, 0);
}

#btn_getStart {
  background-color: rgb(255, 0, 0);
  height: 50px;
  padding: 0 25px;
  font-size: 18px;
  margin-left: 10px;
}

.content-text {
  max-width: 850px;
  margin: auto;
  gap: 15px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine;  */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  padding: 0 20px;
}

.content-text > :nth-child(1) {
  font-size: 60px;
  font-weight: bold;
}

.content-text > :nth-child(2) {
  font-size: 21px;
  font-weight: 500;
}

.content-text > :nth-child(3) {
  font-size: 17px;
}

#email {
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: rgba(37, 37, 37, 0.774);
  border-radius: 3px;
  width: 350px;
  padding: 0 10px;
  height: 50px;
  font-size: 16px;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

.moviesContainer {
  /* background-color: rgb(255, 0, 0); */
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 50px;
}

.section-title {
  /* background-color: rgb(18, 199, 64); */
  padding: 10px 0px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.slider {
  /* background-color: aqua; */
  padding: 10px 30px;
  display: flex;
  overflow-x: auto;
  gap: 20px;
}
.card {
  /* background-color: white; */
  display: flex;
  align-items: center;
}

.card img {
  border-radius: 10px;
  width: 170px;
}

.FAQ {
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.FAQ h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: tomato; */
  padding: 5px 0;
}

.question {
  display: flex;
  justify-content: space-between;
  background-color: rgba(73, 72, 72, 0.822);
  padding: 20px 20px;
  font-size: 25px;
  font-weight: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.footer {
  /* background-color: red; */
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 50px;
}

.footer > :nth-child(1) {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  color: rgb(180, 179, 179);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  padding: 40px 0px;
  gap: 10px;
}

.footer-links a {
  color: rgb(180, 179, 179);
  text-decoration: underline;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 0px;
}

.netflix-nepal {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(180, 179, 179);
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 10px 20px;
  }

  #logo {
    width: 100px;
  }

  .content-text {
    gap: 10px;
  }

  .content-text div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    gap: 15px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
  }

  .content-text > :nth-child(1) {
    font-size: 25px;
  }

  .content-text > :nth-child(2) {
    font-size: 16px;
    font-weight: 200px;
  }

  .content-text > :nth-child(3) {
    font-size: 15px;
  }

  #email {
    width: 90%;
  }

  #btn_getStart {
    width: 70%;
    margin-left: 0;
  }

  .moviesContainer {
    padding: 20px 20px;
  }

  .section-title {
    font-size: 15px;
  }

  .slider {
    padding: 10px 20px;
  }

  .card img {
    width: 120px;
  }

  .FAQ {
    padding: 25px 20px;
  }

  .FAQ h1 {
    font-size: 15px;
  }

  .question {
    font-size: 18px;
    padding: 15px 15px;
  }

  .footer {
    padding: 20px 20px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }
}
