@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main {
  /* background-image: url(/assets/background.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.6)), url(/assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;

  height: 100vh;
  position: relative;
}

.nav-bar {
  display: flex;
  max-width: 60vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

#logo {
  width: 145px;
  color: green;
}
.btn {
  color: white;
  border: none;
  border-radius: 5px;

  font-weight: bold;
  font-size: 14px;
}

#btn_signIn {
  padding: 8px 16px;
  background-color: rgb(255, 0, 0);
}

#btn_getStart {
  background-color: rgb(255, 0, 0);
  height: 50px;
  width: 200px;
  padding: 0 25px;
  font-size: 18px;
}

.content-text {
  /* position: relative; */
  max-width: 40vw;
  margin: auto;
  gap: 15px;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.content-text > :nth-child(1) {
  font-size: 70px;
  font-weight: bold;

}

.content-text > :nth-child(2) {
  font-size: 21px;
  font-weight: 600;
}

.content-text > :nth-child(3) {
  font-size: 17px;
}

#email {
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(37, 37, 37);
  border-radius: 3px;
  opacity: 0.6;
  width: 450px;
  padding: 0 10px;
    margin: 5px 5px;
  height: 50px;
  font-size: 16px;
}
input::placeholder {
  color: white;
  opacity: 0.8;
  font-size: large;
}
